@import "variables";

body {
  padding-top: $body-padding-top;
}

.container {
	&.global-container {
		margin-top: 50px;
	}
}

.no-padding {
	padding: 0;
}

.overflow {
	overflow: auto;
}

.panel {
	.panel-title {
		font-weight: bold;
	}
	
	.col-lg-bold {
		font-weight: bold;
	}
}

.form-horizontal {
	@media (min-width: $screen-sm-min) {
    .control-label {
      text-align: left;
    }
  }
  
  span.required {
   color: $brand-danger;
  }
}